<html>
    <head>
      {% if title %}
      <title>{{ title }} - POST ANYTHING</title>
      {% else %}
      <title>Welcome to POST ANYTHING</title>
      {% endif %}
    </head>
    <body>
        <div>Posterboard: <a href="{{ url_for('index') }}">Home</a></div>
        <div>Submit your thoughts <a href="{{ url_for('submit') }}">Submit</a></div>

        Login</a>
        <hr>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>